<div class="terms-page py-4">
  <h2 class="mb-3">{{ 'TERMS.TITLE' | translate }}</h2>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_1_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_1_CONTENT' | translate }}</p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_2_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_2_CONTENT_1' | translate }}</p>
    <p>{{ 'TERMS.SECTION_2_CONTENT_2' | translate }}</p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_3_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_3_CONTENT_1' | translate }}</p>
    <p>{{ 'TERMS.SECTION_3_CONTENT_2' | translate }}</p>
    <p>{{ 'TERMS.SECTION_3_CONTENT_3' | translate }}</p>
    <p>{{ 'TERMS.SECTION_3_CONTENT_4' | translate }}</p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_4_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_4_INTRO' | translate }}</p>
    <ul>
      <li>{{ 'TERMS.SECTION_4_ITEM_1' | translate }}</li>
      <li>{{ 'TERMS.SECTION_4_ITEM_2' | translate }}</li>
      <li>{{ 'TERMS.SECTION_4_ITEM_3' | translate }}</li>
      <li>{{ 'TERMS.SECTION_4_ITEM_4' | translate }}</li>
    </ul>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_5_TITLE' | translate }}</h5>
    <p [innerHTML]="'TERMS.SECTION_5_CONTENT_1' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_5_CONTENT_2' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_5_CONTENT_3' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_5_CONTENT_4' | translate"></p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_6_TITLE' | translate }}</h5>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_1' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_2' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_3' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_4' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_5' | translate"></p>
    <p [innerHTML]="'TERMS.SECTION_6_CONTENT_6' | translate"></p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_7_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_7_CONTENT' | translate }}</p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_8_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_8_CONTENT' | translate }}</p>
  </section>

  <section class="mb-4">
    <h5>{{ 'TERMS.SECTION_9_TITLE' | translate }}</h5>
    <p>{{ 'TERMS.SECTION_9_CONTENT' | translate }}</p>
  </section>
</div>