.support-page {
    min-height: calc(100vh - 200px);
    padding: 2rem;
    background-color: #fff;
}

.support-container {
    max-width: 900px;
    margin: 0 auto;
}

.support-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1.5rem;
}

.support-intro {
    color: #555;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.section-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin: 1.5rem 0 1rem;
}

.contact-list {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 2rem;

    li {
        margin-bottom: 0.5rem;
        color: #555;

        a {
            color: #0066cc;
            text-decoration: underline;

            &:hover {
                color: #004499;
            }
        }
    }
}

.faq-list {
    list-style: disc;
    padding-left: 1.5rem;

    li {
        margin-bottom: 1rem;
        color: #555;

        strong {
            color: #333;
        }

        p {
            margin: 0.25rem 0 0;
            line-height: 1.5;
        }
    }
}

// Responsive
@media (max-width: 576px) {
    .support-page {
        padding: 1.5rem 1rem;
    }

    .support-title {
        font-size: 1.5rem;
    }
}