@import '../../../../styles/variables';

.support-page {
    padding: 2rem;
}

.support-intro {
    color: $gray-600;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.section-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: $dark;
    margin: 1.5rem 0 1rem;
}

.contact-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;

    li {
        margin-bottom: 0.5rem;
        color: $gray-600;

        a {
            color: $primary;
            text-decoration: none;
            display: inline-flex;
            align-items: center;

            &:hover {
                color: $primary-dark;
                text-decoration: underline;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }
}

.faq-list {
    list-style: disc;
    padding-left: 1.5rem;

    li {
        margin-bottom: 1rem;
        color: $gray-600;

        strong {
            color: $dark;
        }

        p {
            margin: 0.25rem 0 0;
            line-height: 1.5;
        }
    }
}