<div class="policy-page py-4">
  <h2 class="mb-3">{{ 'POLICY.TITLE' | translate }}</h2>

  <p>{{ 'POLICY.INTRO' | translate }}</p>

  <ul>
    <li>{{ 'POLICY.ITEM_EMAIL' | translate }}</li>
    <li>{{ 'POLICY.ITEM_PASSWORD' | translate }}</li>
    <li>{{ 'POLICY.ITEM_BALANCE' | translate }}</li>
    <li>{{ 'POLICY.ITEM_DEPOSIT_HISTORY' | translate }}</li>
    <li>{{ 'POLICY.ITEM_ORDER_HISTORY' | translate }}</li>
  </ul>

  <p>{{ 'POLICY.DELETE_ACCOUNT' | translate }}</p>
  <p>{{ 'POLICY.DELETE_TIME' | translate }}</p>
  <p>{{ 'POLICY.CONTACT_INFO' | translate }}</p>
</div>